<!DOCTYPE html>
<html>
<head>
    <title>Login and sign up page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="luffy">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="signup()">Sign up</button>
            </div>
            <div class="social-icons">
                <img src="../img/github.png">
                <img src="../img/google.png">
            </div> 
            <form id="login" class="input-group" action="http://127.0.0.1:5000/signup" method="post">
                <input type="text" class="input-field" name="login1" placeholder="User Id" required>
                <input type="text" class="input-field" name="login2" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <ul>
                    <li>
                        <a href="../Login/login1.html">
                            <button type="submit" class="submit-btn">Login</button>
                        </a>
                    </li>
                </ul>
            </form>
            <form id="signup" class="input-group" action="http://127.0.0.1:5000/login" method="post">
                <input type="text" class="input-field" name="fname" placeholder="User Id" required>
                <input type="email" class="input-field" name="email" placeholder="Email Id" required>
                <input type="text" class="input-field" name="password" placeholder="Enter Password" required>
                <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                <ul>
                    <li>
                        <a href="../Login/login1.html">
                            <button type="submit" class="submit-btn">Sign up</button>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
        
    </div>
    <script>
        var x=document.getElementById("login")
        var y=document.getElementById("signup")
        var z=document.getElementById("btn")

        function signup(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px"; 
        }
        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0"; 
        }
    </script>
</body>
</html>

